{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Drinks {% endblock title%}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://api.fontshare.com/v2/css?f[]=gambetta@1,2&f[]=general-sans@1,2&display=swap" rel="stylesheet">
    <link rel="stylesheetlike" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" alt="coctail creations"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="nav nav-pills">
                    {% if not user.is_authenticated%}
                        {% if request.path != '/login/' %}
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{% url 'login_user'%}">Zaloguj</a>
                        </li>
                        {% endif %}
                        {% if request.path != '/register/' %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'register'%}">Rejestracja</a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if user.is_authenticated%}
                        {% if request.path != '/dashboard/' %}
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'dashboard'%}">Panel klienta</a>
                            </li>
                        {% endif %}
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'logout_user'%}">Wyloguj</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'change_password'%}">Zmień hasło</a>
                            </li>
                    {% endif %}
                  </ul>
            </div>

        </nav>

    </div>

<header>
    <div class="container text-center">
       <h1 class="slogan"> Koktajle, które ożywią Twoje zmysły</h1>
        {% block search %}

        {% endblock search %}
    </div>
</header>

{% if is_homepage %}
    <section class="parallax"></section>
    {% if pined_home %}
        <section class="container mb-5">
                    <div class="marquee-wrapper" style="user-select: none;">
                        <div class="marquee-content scrollingX">
                            {% for cocktail in pined_home %}
                                <div class="card-testimonial">
                                    <article>
                                        <a href="{% url 'detail_cocktail' cocktail.id %}">
                                            <picture>
                                                <source media="(min-width: 768px)" srcset="{{ cocktail.image.url }}">
                                                <img src="{{ cocktail.image.url }}" alt="{{ cocktail.name }}">
                                            </picture>
                                            <h4>{{ cocktail.name }}</h4>
                                        </a>

                                        <article class="short-description">
                                            <p>{{ cocktail.description }}</p>
                                        </article>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

        </section>
        {% endif %}
<section class="parallax"></section>
<section class="container mb-5">
    {% block contenthome %}


    {% endblock contenthome %}
</section>

<section class="parallax"></section>

<section>
    <div class="container text-center">
        <h2>Nasz zespół doświadczonych barmanów!</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
            <div class="col">
            <div class="card">
                <img src="{% static 'images/piotr.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Piotr</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="{% static 'images/kamila.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Kamila</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            </div>

        </div>
      </div>
</section>
{% else %}

    {% block content %}


    {% endblock content %}

{% endif %}

<footer>
    <div class="container mt-2 mb-2 text-center"><p>&copy; 2023 Cocktail Creations. Wszystkie prawa zastrzeżone.</p></div>
</footer>

<div class="container">
    {% bootstrap_messages %}

    {% bootstrap_javascript %}
    <script src="{% static 'js/main.js' %}"></script>



</div>

{% block top_button %}
<button id="top-button" class="btn btn-primary d-none" onclick="topFunction()" title="Go to top"> ^ ^ </button>
<style>
  #top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
</style>

<script>
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("top-button").classList.remove("d-none");
    } else {
      document.getElementById("top-button").classList.add("d-none");
    }
  }

  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
{% endblock %}

</body>
</html>


<script>
    {#// get form template and total number of forms from management form#}
    {#const templateForm = document.getElementById('ingredient_formset_empty_form');#}
    {#const inputInitialForms = document.querySelector('input[id$="-INITIAL_FORMS"]');#}
    {##}
    {#// get our container (e.g. <table>, <ul>, or <div>) and "Add" button#}
    {#const containerFormSet = document.getElementById('ingredient_formset_container');#}
    {##}
    {##}
    {#// form counters (note: proper form index bookkeeping is necessary#}
    {#// because django's formset will create empty forms for any missing#}
    {#// indices, and will discard forms with indices >= TOTAL_FORMS, which can#}
    {#// lead to funny behavior in some edge cases)#}
    {#const initialForms = Number(inputInitialForms.value);#}
    {#let extraFormIndices = [];#}
    {#let nextFormIndex = initialForms;#}
    {##}
    {#function addForm () {#}
    {#    // create DocumentFragment from template#}
    {#    const formFragment = templateForm.content.cloneNode(true);#}
    {#    // a django form is rendered as_table (default), as_ul, or as_p, so#}
    {#    // the fragment will contain one or more <tr>, <li>, or <p> elements,#}
    {#    // respectively.#}
    {#    for (let element of formFragment.children) {#}
    {#        // replace the __prefix__ placeholders from the empty form by the#}
    {#        // actual form index#}
    {#        element.innerHTML = element.innerHTML.replace(#}
    {#            /(?<=\w+-)(__prefix__|\d+)(?=-\w+)/g,#}
    {#            nextFormIndex.toString());#}
    {#        // add a custom attribute to simplify bookkeeping#}
    {#        element.dataset.formIndex = nextFormIndex.toString();#}
    {#    }#}
    {#    // move the fragment's children onto the DOM#}
    {#    // (the fragment is empty afterwards)#}
    {#    containerFormSet.appendChild(formFragment);#}
    {#    // keep track of form indices#}
    {#    extraFormIndices.push(nextFormIndex++);#}
    
    window.addEventListener('load', (event) => {
        // get form template and total number of forms from management form
        const templateForm = document.getElementById('ingredient_formset_empty_form');
        const inputTotalForms = document.querySelector('input[id$="-TOTAL_FORMS"]');
        const inputInitialForms = document.querySelector('input[id$="-INITIAL_FORMS"]');
    
        // get our container (e.g. <table>, <ul>, or <div>) and "Add" button
        const containerFormSet = document.getElementById('ingredient_formset_container');
        const buttonAdd = document.getElementById('ingredient_formset_add_button');
        const buttonSubmit = document.getElementById('ingredient_formset_submit_button');
    
        // event handlers
        buttonAdd.onclick = addForm;
        buttonSubmit.onclick = updateNameAttributes;
    
        // form counters (note: proper form index bookkeeping is necessary
        // because django's formset will create empty forms for any missing
        // indices, and will discard forms with indices >= TOTAL_FORMS, which can
        // lead to funny behavior in some edge cases)
        const initialForms = Number(inputInitialForms.value);
        let extraFormIndices = [];
        let nextFormIndex = initialForms;
    
        function addForm () {
            // create DocumentFragment from template
            const formFragment = templateForm.content.cloneNode(true);
            // a django form is rendered as_table (default), as_ul, or as_p, so
            // the fragment will contain one or more <tr>, <li>, or <p> elements,
            // respectively.
            for (let element of formFragment.children) {
                // replace the __prefix__ placeholders from the empty form by the
                // actual form index
                element.innerHTML = element.innerHTML.replace(
                    /(?<=\w+-)(__prefix__|\d+)(?=-\w+)/g,
                    nextFormIndex.toString());
                // add a custom attribute to simplify bookkeeping
                element.dataset.formIndex = nextFormIndex.toString();
                // add a delete click handler (if formset can_delete)
                setDeleteHandler(element);
            }
            // move the fragment's children onto the DOM
            // (the fragment is empty afterwards)
            containerFormSet.appendChild(formFragment);
            // keep track of form indices
            extraFormIndices.push(nextFormIndex++);
        }
    
        function removeForm (event) {
            // remove all elements with form-index matching that of the delete-input
            const formIndex = event.target.dataset.formIndex;
            for (let element of getFormElements(formIndex)) {
                element.remove();
            }
            // remove form index from array
            let indexIndex = extraFormIndices.indexOf(Number(formIndex));
            if (indexIndex > -1) {
                extraFormIndices.splice(indexIndex, 1);
            }
        }
    
        function setDeleteHandler (containerElement) {
            // modify DELETE checkbox in containerElement, if the checkbox exists
            // (these checboxes are added by formset if can_delete)
            const inputDelete = containerElement.querySelector('input[id$="-DELETE"]');
            if (inputDelete) {
                // duplicate the form index instead of relying on parentElement (more robust)
                inputDelete.dataset.formIndex = containerElement.dataset.formIndex;
                inputDelete.onclick = removeForm;
            }
        }
    
        function getFormElements(index) {
            // the data-form-index attribute is available as dataset.formIndex
            // https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes#javascript_access
            return containerFormSet.querySelectorAll('[data-form-index="' + index + '"]');
        }
    
        function updateNameAttributes (event) {
            // make sure the name indices are consecutive and smaller than
            // TOTAL_FORMS (the name attributes end up as dict keys on the server)
            // note we do not need to update the indices in the id attributes etc.
            for (let [consecutiveIndex, formIndex] of extraFormIndices.entries()) {
                for (let formElement of getFormElements(formIndex)){
                    for (let element of formElement.querySelectorAll('input, select')) {
                        if ('name' in element) {
                            element.name = element.name.replace(
                                /(?<=\w+-)(__prefix__|\d+)(?=-\w+)/g,
                                (initialForms + consecutiveIndex).toString());
                        }
                    }
                }
            }
            updateTotalFormCount();
        }
    
        function updateTotalFormCount (event) {
            // note we could simply do initialForms + extraFormIndices.length
            // to get the total form count, but that does not work if we have
            // validation errors on forms that were added dynamically
            const firstElement = templateForm.content.querySelector('input, select');
            // select the first input or select element, then count how many ids
            // with the same suffix occur in the formset container
            if (firstElement) {
                let suffix = firstElement.id.split('__prefix__')[1];
                let selector = firstElement.tagName.toLowerCase() + '[id$="' + suffix + '"]';
                let allElementsForId = containerFormSet.querySelectorAll(selector);
                // update total form count
                inputTotalForms.value = allElementsForId.length;
            }
        }
    }, false);


</script>

