{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Drinki{% endblock title %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://api.fontshare.com/v2/css?f[]=gambetta@1,2&f[]=general-sans@1,2&display=swap" rel="stylesheet">
    <link rel="stylesheetlike"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" alt="coctail creations"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav nav-pills">
                {% if not user.is_authenticated %}
                    {% if request.resolver_match.url_name != 'login_user' %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'login_user' %}">Zaloguj</a>
                        </li>
                    {% endif %}
                    {% if request.resolver_match.url_name != 'register' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Rejestracja</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated %}
                    {% if request.resolver_match.url_name != 'dashboard' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard' %}">Panel klienta</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout_user' %}">Wyloguj</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'change_password' %}">Zmień hasło</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </nav>

</div>

{% block content_header %}

{% endblock content_header %}

<div class="container">
    {% bootstrap_messages %}

    {% bootstrap_javascript %}
    <script src="{% static 'js/main.js' %}"></script>
</div>

{% block content %}

{% endblock content %}

<footer>
    <div class="container mt-2 mb-2 text-center"><p>&copy; 2023 Cocktail Creations. Wszystkie prawa zastrzeżone.</p>
    </div>
</footer>

{% block top_button %}
    <button id="top-button" class="btn btn-primary d-none" onclick="topFunction()" title="Go to top"> ^ ^</button>
    <style>
        #top-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    </style>

    <script>
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("top-button").classList.remove("d-none");
            } else {
                document.getElementById("top-button").classList.add("d-none");
            }
        }

        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
{% endblock %}

</body>
</html>


