{% extends 'base.html' %}

{% block title %}
    Add drink
{% endblock title %}

{% block content %}

    {% if error %}
        {{ error }}
    {% endif %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Dodaj swój przepis na drinka:</div>
                    <div class="card-body">
                        <template id="ingredient_formset_empty_form">{{ ingredient_formset }}</template>
                        <form action="{% url 'create' %}" id="id_html_form" method="post" autocomplete="off" enctype="multipart/form-data">
                            {% csrf_token %}
{#                            <div class="form-group">#}
                                <div id="drink_form">
                                    {{ drink_form }}
                                </div>

                                <table id="ingredient_formset_container">
                                    {{ ingredient_formset }}
                                </table>
                                <div id="ingredient_formset_add_button" style="text-decoration: underline; cursor: pointer;">Add</div>
                                <input id="ingredient_formset_submit_button" type="submit" value="Submit">
{#                                <div class="col-md-2">#}
{#                                    <button type="button" class="btn btn-primary" onclick="addForm()">#}
{#                                        <i class="bi bi-plus">+</i>#}
{#                                    </button>#}

{#                                </div>#}
{#                            </div>#}
{#                            <button type="submit" class="btn btn-primary mt-2">Dodaj</button>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}