{% extends 'cocktail_base.html' %}
{% load static %}

{% block title %}
    {{ drink.name }}
{% endblock title %}

{% block app_content %}
    <div class="container" style="display: flex">
        <div class="left" style="flex: 50%">
            <img src="{{ drink.image.url }}" alt="{{ drink.name }}">
        </div>
        <div class="right" style="flex: 50%; margin-left: 20px;">
            <h1>{{ drink.name }}</h1>
            <p> Składniki: </p>
            <ul>
                {% for ingredient in drink.ingredients.all %}
                    <li>{{ ingredient.product.name }} - {{ ingredient.amount }} {{ ingredient.unit.short_name }}</li>
                {% endfor %}
            </ul>
            <p>{{ drink.description|linebreaks }}</p>
            <p style="font-size: small">Dodano: {{ drink.creation_date }}</p>
            <div>
                <p>Polubienia: {{ drink.likes }}</p>
                {% if request.user.is_authenticated %}
                    {% if is_user_liked %}
                        <form action="{% url 'unlike_drink' drink.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Odlajkuj</button>
                        </form>
                    {% else %}
                        <form action="{% url 'like_drink' drink.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Polub</button>
                        </form>
                    {% endif %}
                {% else %}
                    <p><a href="{% url 'login_user' %}">Zaloguj się</a> aby polubić drinka.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock app_content %}