{% extends 'base.html' %}
{% load static %}


{% block content %}

    <header>
        <div class="container text-center">
            <h1 class="slogan"> Koktajle, które ożywią Twoje zmysły</h1>

            <p class="mt-2">Skorzystaj z naszej wyszukiwarki!</p>
            <form class="pb-4 pt-4" action="{% url 'search' %}" method="GET">
                <div class="input-group rounded m-auto" style="width: 75%;">
                    <input type="search" class="form-control rounded" name="q" placeholder="Wyszukaj"
                           aria-label="Search" aria-describedby="search-addon"/>
                    <button class="btn btn-primary" type="submit">Wyszukaj</button>
                </div>
            </form>

        </div>
    </header>

    <section class="parallax"></section>

    {% block app_content %}

    {% endblock app_content %}

    <section class="parallax"></section>
    <section>
        <div class="container text-center">
            <h3>Ostatnio dodane koktajle:</h3>
            {% if last_cocktails1 %}
                <div class="container text-center">
                    <div class="row align-items-start">
                        {% for cocktail in last_cocktails1 %}
                            <div class="col">
                                <div class="card-testimonial">
                                    <article>
                                        <a href="{% url 'detail_cocktail' cocktail.id %}"
                                           class="text-decoration-none text-dark">
                                            <picture>
                                                <source media="(min-width: 768px)" srcset="{{ cocktail.image.url }}">
                                                <img src="{{ cocktail.image.url }}" alt="Drink Image">
                                            </picture>
                                            <h4>{{ cocktail.name }}</h4>
                                        </a>
                                        <p style="font-size: small">Dodano: {{ cocktail.creation_date }}</p>
                                    </article>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if last_cocktails2 %}
                <div class="container text-center">
                    <div class="row align-items-center">
                        {% for cocktail in last_cocktails2 %}
                            <div class="col">
                                <div class="card-testimonial">
                                    <article>
                                        <a href="{% url 'detail_cocktail' cocktail.id %}"
                                           class="text-decoration-none text-dark">
                                            <picture>
                                                <source media="(min-width: 768px)" srcset="{{ cocktail.image.url }}">
                                                <img src="{{ cocktail.image.url }}" alt="Drink Image">
                                            </picture>
                                            <h4>{{ cocktail.name }}</h4>
                                        </a>
                                        <p style="font-size: small">Dodano: {{ cocktail.creation_date }}</p>
                                    </article>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    {% if display_barmans %}
        <section class="parallax"></section>
        <section>
            <div class="container text-center">
                <h2>Nasz zespół doświadczonych barmanów!</h2>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/piotr.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Piotr</h5>
                                <p class="card-text">Poznaj Piotra, mistrza za barem. Dzięki zręcznym dłoniom Piotr
                                    zamienia zwykłą czynność mieszania drinków w formę sztuki.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/kamila.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Kamila</h5>
                                <p class="card-text">Poznaj Kamilę, czarodziejkę sceny barowej. Za barem jest mistrzynią
                                    opowiadania historii, splatającą narracje z każdym starannie przygotowanym
                                    koktajlem.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    {% endif %}


{% endblock content %}
