{% extends 'cocktail_base.html' %}
{% load static %}


{% block title %}
    Strona główna
{% endblock title %}


{% block app_content %}
    {% if pined_home %}
        <section class="container mb-5">
            <div class="marquee-wrapper" style="user-select: none;">
                <div class="marquee-content scrollingX">
                    {% for cocktail in pined_home %}
                        <div class="card-testimonial">
                            <article>
                                <a href="{% url 'detail_cocktail' cocktail.id %}">
                                    <picture>
                                        <source media="(min-width: 768px)" srcset="{{ cocktail.image.url }}">
                                        <img src="{{ cocktail.image.url }}" alt="{{ cocktail.name }}">
                                    </picture>
                                    <h4>{{ cocktail.name }}</h4>
                                </a>

                                <article class="short-description">
                                    <p>{{ cocktail.description }}</p>
                                </article>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>
    {% endif %}

{% endblock app_content %}
